In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/snp.csv')

In [3]:
df.head()

,name,rs9442373_C,rs1571150_A,rs4074196_C,rs2748986_G,rs28508199_G,rs6661597_T,rs2257182_C,rs12045693_A,rs2843142_A,...,rs4074135_G,rs4824127_C,rs131817_A,rs131750_C,rs2238837_C,rs28680530_C,rs34787751_G,rs34027812_A,rs311157_T,rs2984684_T
0,NA19919,0,2,0,1,1,1,0,0,1,...,1,1,0,0,2,1,0,1,0,1
1,NA19916,0,0,0,2,2,0,2,2,0,...,2,1,0,0,2,1,1,1,1,2
2,NA19835,1,2,1,1,2,0,2,2,1,...,2,1,1,0,2,1,0,1,1,2
3,NA20282,1,0,1,0,1,0,1,0,1,...,1,1,0,1,0,2,1,2,0,2
4,NA19703,0,2,2,1,2,0,2,1,0,...,1,1,1,0,1,0,1,2,1,2

In [11]:
def dirac_kernel(x, y):
    k = 0
    for i in range(len(x)):
        if x[i] == y[i]:
            k += 1
    return k / len(x)

In [7]:
n = df.shape[0]
K = np.zeros((n, n))

In [11]:
dirac_kernel(df.iloc[1, :], df.iloc[200, :])

0.35110179156090204

In [14]:
K[0, :10]

array([1.        , 0.42169738, 0.41389839, 0.41139683, 0.4204466 ,
       0.42324247, 0.42261708, 0.56082846, 0.40426002, 0.41691498])

In [15]:
df.shape

(389, 27183)

In [9]:
K[0, 2]

0.0

In [6]:
len(df.iloc[1, :])

27183