In [1]:
import pandas as pd
import numpy as np
import altair as alt

In [2]:
df = pd.read_csv('../data/snp.csv')

In [38]:
population = pd.read_csv('../data/population.csv', header=None)
population = population.rename(columns={0: 'population'})

gender = pd.read_csv('../data/gender.csv', header=None)
gender = gender.rename(columns={0: 'gender'})

In [34]:
population.head()

  population
0       EthA
1       EthA
2       EthA
3       EthA
4       EthA

In [35]:
size = 125
new_index = np.r_[range(375, 375+size), range(125, 125+size), range(250, 250+size), range(0, size)]

In [36]:
df = df.reindex(new_index).reset_index(drop=True)

In [39]:
population = population.reindex(new_index).reset_index(drop=True)
gender = gender.reindex(new_index).reset_index(drop=True)

In [40]:
df.to_csv('../data/snp.csv', index=False)

In [42]:
gender.to_csv('../data/gender.csv', index=False, header=None)
population.to_csv('../data/population.csv', index=False, header=None)